body {
  text-transform: uppercase;
  color: #000000;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: #f2f2f2;
}
h1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}
h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}
h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
  font-weight: bold;
}
nav a {
  text-decoration: none;
  color: black;
}
.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fefefe;
  box-shadow: 0px 0px 50px 0px #dbdbdb;
}
.main-navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 72px;
}
.main-navigation li:nth-child(2) {
  margin-right: 230px;
  margin-left: -15px;
}
.main-header{
  position: relative;
}
.logo {
  position: absolute;
  top: 0;
  width: 138px;
  left: 50%;
  margin-left: -69px;
}
.index-logo {
  background: #dbeaf1 url(../img/bg-index.jpg) no-repeat 50% -55px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*min-height: 508px;*/
  justify-content: space-between;
}
 .index-logo img:first-child {
   margin-top: 77px;
   margin-bottom: 23px;
}
.intro {
   padding-top: 46px;
   padding-bottom: 39px;
   text-align: center;
 }
 .intro h1 {
   margin-bottom: 30px;
 }
.reasons {
  display: flex;
  align-items: stretch;
}
.reason-item {
  width: 400px;
  text-align: center;
}
.reasons-blue h2{
  margin-top: 54px;
  margin-bottom: 24px;
}
.reasons-blue p{
  margin-top: 21px;
}
.reasons-blue {
  background: #81b3d2;
  color: #ffffff;
}
.reason-picture {
  width: 800px;
  line-height: 0;
}
.services {
  display: flex;
  align-items: baseline;
}
.services-item {
  margin-top: 56px;
  margin-bottom: 69px;
  width: 400px;
  text-align: center;
}
.services-item h2{
  margin: 23px 0;
}
.reasons-gray {
  background-color: #eeeeee;
}
.reasons-gray .reason-item {
  padding-bottom: 45px;
}
.reasons-gray h2{
  margin-top: 47px;
  margin-bottom: 24px;
}
.reasons-gray p{
  margin-top: 21px;
}
.interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.interest h3{
  font-size: 30px;
  line-height: 24px;
  margin-top: 56px;
  margin-bottom: 16px;
}
.interest p{
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 22px;
}
/*cтили большой коричневой кнопки*/
.interest .brown-btn {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  padding: 30px 140px;
  margin-top: 25px;
}
.brown-btn,
.brown-btn:visited {
  background-color: #766357;
  text-decoration: none;
  color:#ffffff;
}
.brown-btn:hover {
  background-color: #604e43;
  text-decoration: none;
  color:#ffffff;
}
.brown-btn:active {
  background-color: #503e33;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}
/* ФОРМА ГЛАВНОЙ*/
.map {
  background: #f2f1ef url(../img/map.png);
  padding-bottom: 78px;
}
.main-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  background: #ffffff;
  width: 568px;
  margin: auto;
  padding: 55px;
  box-sizing: border-box;
  font-weight: bold;
  vertical-align: middle;
}
.main-form input{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
}
.half-width {
  font-size: 0;
  line-height: 0;
  flex-grow: 2;
  text-align: right;
}
.half-width span{
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
  margin-right: 27px;
}
.adult {
  text-align: left;
}
.adult span{
  margin-right: 40px;
}
input[type="text"] {
  width: 346px;
  height: 38px;
  padding: 14px;
  margin-left: 16px;
  background-color: #f2f2f2;
  border: none;
  margin-bottom: 29px;
  box-sizing: border-box;
}
.calendar{
  position: absolute;
  transform: translate(424px, -59px);
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
  background-position: -230px -5px;
}
.out-calendar{
  transform: translate(428px, -59px);
}

input[type="number"] {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: none;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: right;
}
button[type="button"] {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: 0px;
  outline: none;
  vertical-align: middle;
}
button[type="button"]::before{
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}
.plus::before{
  width: 11px;
  height: 11px;
  background-position: -312px -173px;
}
.minus::before{
  width: 12px;
  height: 3px;
  background-position: -246px -173px;
}
button[type="button"]:first-child {
  margin-left: 10px;
}
input[type="submit"] {
  width: 458px;
  min-height: 58px;
  border: 0px;
  background-color: #81b3d2;
  text-transform: uppercase;
  color:#ffffff;
  font-weight: bold;
  font-size: 21px;
  margin-top: 55px;
}
input[type="submit"]:hover {
  background-color: #669ec0;
  text-decoration: none;
  color:#ffffff;
}
input[type="submit"]:active {
  background-color: #5496bd;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}
/*FOOTER*/
.main-footer {
  display: flex;
  justify-content: center;
  /*min-height: 120px;*/
}
.main-footer .footer-block {
  width: 400px;
  display: flex;
  justify-content: center;;
  align-items: center;
  padding: 36px;
}
.footer-hashtag a:link,
.footer-hashtag a:hover,
.footer-hashtag a:active,
.footer-hashtag a:visited{
  text-decoration: none;
  color: black;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}
.social-btn{
  width: 46px;
  height: 48px;
  text-align: center;
  vertical-align: middle;
  background-color: #81b3d2;
  margin-right: 4px;
  margin-left: 2px;
  font-size: 0;
  position: relative;
}
.social-btn::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}
.social-btn:hover{
  background-color: #669ec0;
}
.social-btn:active{
  background-color: #5496bd;
}
.social-btn:active::before{
  opacity: 0.3;
}
.social-btn-fb::before {
  width: 10px;
  height: 21px;
  background-position: -241px -39px;
}
.social-btn-twitter::before {
  width: 17px;
  height: 15px;
  background-position: -163px -194px;
}
.social-btn-youtube::before {
  width: 20px;
  height: 16px;
  background-position: -246px -194px;
}
.academy-logo{
  display: block;
  width: 195px;
  height: 39px;
}
.academy-logo::before{
  content: "";
  position: absolute;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  width: 195px;
  height: 39px;
  background-position: -5px -32px;
}
.academy-logo:hover::before{
  content: "";
  position: absolute;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  width: 195px;
  height: 39px;
  background-position: -5px -130px;
}
.academy-logo:active::before{
  content: "";
  position: absolute;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  width: 195px;
  height: 39px;
  background-position: -5px -130px;
}
/* ФОРМА КАТАЛОГА */
.options {
  background: #6c99c2 url(../img/options-background.png);
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.options form{
  display: flex;
  /*min-height: 217px;*/
  /*padding: 0 72px;*/
  justify-content: space-between;
}
.options fieldset {
  display: flex;
  border: 0px;
  flex-direction: column-reverse;
  padding: 10px 72px;
}
.options label {
  margin: 20px 0;
}
.options fieldset:last-child {
  flex-grow: 2;
  padding-left: 240px;
/*   text-align: center; */
}
.options input[type="number"] {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.0);
}
.options .half-width {
  flex-grow: 2;
  text-align: center;
}
.options .price-select {
  border: 2px solid #ffffff;
  border-radius: 3px;
  height: 32px;
  width: 314px;
  display: flex;
  justify-content: space-between
}
.options button {
  color: #ffffff;
  text-transform: uppercase;
  width: 133px;
  height: 32px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.0);
}
button {
  margin: auto;
}

/*ФИЛЬТРЫ*/
.filters {
  display: flex;
}
.filters-sorting {
  display: flex;
  align-items: center;

}
.filters-sorting ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.filters-sorting ul li{
  padding-left: 40px;
}
.filters-text {
  padding: 0 50px;
}
.filters a,
.filters a:visited,
.filters a:hover,
.filters a:active{
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px dashed #81b3d2;
  color: #81b3d2;
}
.filters span{
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.filters div:nth-child(2){
  flex-grow: 2;
}
.filters{
  border-bottom: 1px solid #e5e5e5;
}
article{
  border-bottom: 1px solid #e5e5e5;
}
/* ОТЕЛИ */
.item {
  /*min-height: 150px;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.item div:first-child{
  line-height: 0;
  margin-left: 70px;
}
.item > div:nth-child(2) {
  flex-grow: 2;
  margin-left: 30px;
  /*min-height: 90px;*/
}
.item h1 a,
.item h1 a:visited,
.item h1 a:hover,
.item h1 a:active {
  text-decoration: none;
  color: black;
}
.item h1{
  text-align: left;
  line-height: 0;
}
.item-description a {
  text-decoration: none;
  font-weight: bold;
  padding: 3px 10px;
  margin-right: 2px;
  color: #fff;
  /*padding-right: 18px;
  margin-right: 6px;*/
}
.item-description div{
  display: inline-block;
  width: 110px;
  vertical-align: bottom;
}


.details {
  background-color: #81b3d2;
}

.details:hover {
  color: #fff;
  background-color: #669ec0;
}

.details:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}

.book {
  background-color: #766357; }

.book:hover {
  color: #fff;
  background-color: #604e43; }

.book:active {
  color: #fff;
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}
.item-rating {
  padding: 20px
}
.rating-text {
  padding: 3px 0;
  text-align: center;
  color: #666;
  background: #f2f2f2;
}
/*еще filters-text = item-pic*/
/*разобраться с центровкой контейнера*/

.sprite {
    background-image: url(../img/spritesheet.png)
    display: block;
}

.sprite-4stars {
    width: 89px;
    height: 17px;
    background-position: -5px -5px;
}

.sprite-academy-logo {
    width: 195px;
    height: 39px;
    background-position: -5px -32px;
}

.sprite-academy-logo-down {
    width: 195px;
    height: 39px;
    background-position: -5px -81px;
}

.sprite-academy-logo-hvr {
    width: 195px;
    height: 39px;
    background-position: -5px -130px;
}

.sprite-arrow-1 {
    width: 11px;
    height: 10px;
    background-position: -104px -5px;
}

.sprite-arrow-1-down-active {
    width: 11px;
    height: 10px;
    background-position: -125px -5px;
}

.sprite-arrow-1-hvr {
    width: 11px;
    height: 10px;
    background-position: -146px -5px;
}

.sprite-arrow-2 {
    width: 11px;
    height: 10px;
    background-position: -167px -5px;
}

.sprite-arrow-2-down-active {
    width: 11px;
    height: 10px;
    background-position: -188px -5px;
}

.sprite-arrow-2-hvr {
    width: 11px;
    height: 10px;
    background-position: -209px -5px;
}

.sprite-calendar {
    width: 21px;
    height: 22px;
    background-position: -230px -5px;
}

.sprite-calendar-down {
    width: 21px;
    height: 22px;
    background-position: -210px -37px;
}

.sprite-calendar-hvr {
    width: 21px;
    height: 22px;
    background-position: -210px -69px;
}

.sprite-checkbox {
    width: 22px;
    height: 22px;
    background-position: -210px -101px;
}

.sprite-checkbox-checked {
    width: 26px;
    height: 22px;
    background-position: -210px -133px;
}

.sprite-checkbox-checked-disabled {
    width: 26px;
    height: 22px;
    background-position: -210px -165px;
}

.sprite-checkbox-disabled {
    width: 22px;
    height: 22px;
    background-position: -5px -197px;
}

.sprite-facebook {
    width: 10px;
    height: 19px;
    background-position: -241px -37px;
}

.sprite-food {
    width: 74px;
    height: 70px;
    background-position: -37px -179px;
}

.sprite-gift {
    width: 64px;
    height: 76px;
    background-position: -261px -5px;
}

.sprite-house {
    width: 75px;
    height: 72px;
    background-position: -246px -91px;
}

.sprite-qty-btn-minus {
    width: 12px;
    height: 3px;
    background-position: -246px -173px;
}

.sprite-qty-btn-minus-down {
    width: 12px;
    height: 3px;
    background-position: -268px -173px;
}

.sprite-qty-btn-minus-hvr {
    width: 12px;
    height: 3px;
    background-position: -290px -173px;
}

.sprite-qty-btn-plus {
    width: 11px;
    height: 11px;
    background-position: -312px -173px;
}

.sprite-qty-btn-plus-down {
    width: 11px;
    height: 11px;
    background-position: -121px -194px;
}

.sprite-qty-btn-plus-hvr {
    width: 11px;
    height: 11px;
    background-position: -142px -194px;
}

.sprite-twitter {
    width: 17px;
    height: 15px;
    background-position: -163px -194px;
}

.sprite-youtube {
    width: 20px;
    height: 16px;
    background-position: -246px -194px;
}
