body {
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: #f2f2f2;
}
h1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}
h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}
h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
  font-weight: bold;
}
.main-navigation a {
  text-decoration: none;
  color: black;
}
.main-navigation a:hover {
  color:#81b3d2;
}
.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.main-navigation .active-menu {
  text-decoration: none;
  color: #766357;
}
.main-navigation .active-menu:hover {
  color:#604e43;
}
.main-navigation .active-menu:active {
  color: rgba(118, 99, 87, 0.3);
}
.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fefefe;
  box-shadow: 0 0 15px 0px rgba(0,0,0,0.2);
}
.main-navigation ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 72px;
  padding-bottom: 18px;
}
.main-navigation li:nth-child(2) {
  margin-right: 230px;
  margin-left: -15px;
}
.main-header {
  position: relative;
}
.logo {
  position: absolute;
  top: 0;
  width: 138px;
  left: 50%;
  margin-left: -69px;
}
.index-logo {
  background: #dbeaf1 url(../img/bg-index.jpg) no-repeat 50% -56px ;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.index-logo img:first-child {
  margin-top: 76px;
  margin-bottom: 23px;
}
.intro {
  padding-top: 46px;
  padding-bottom: 39px;
  text-align: center;
 }
.intro h1 {
  margin-bottom: 30px;
 }
.reasons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.reason-item {
  width: 400px;
  text-align: center;
}
.reasons-blue h2 {
  margin-top: 54px;
  margin-bottom: 24px;
}
.reasons-blue p {
  margin-top: 21px;
}
.reasons-blue {
  background: #81b3d2;
  color: #ffffff;
}
.reason-picture {
  width: 800px;
  line-height: 0;
}
.services {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.services-item {
  margin-top: 56px;
  margin-bottom: 69px;
  width: 400px;
  text-align: center;
}
.services-item h2 {
  margin: 23px 0;
}
.reasons-gray {
  background-color: #eeeeee;
}
.reasons-gray .reason-item {
  padding-bottom: 45px;
}
.reasons-gray h2 {
  margin-top: 47px;
  margin-bottom: 24px;
}
.reasons-gray p {
  margin-top: 21px;
}
.interest {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.interest h3 {
  font-size: 30px;
  line-height: 24px;
  margin-top: 56px;
  margin-bottom: 16px;
}
.interest p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 22px;
}
/*cтили большой коричневой кнопки*/
.interest .brown-btn {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  padding: 30px 140px;
  margin-top: 25px;
}
.brown-btn,
.brown-btn:visited {
  background-color: #766357;
  text-decoration: none;
  color:#ffffff;
}
.brown-btn:hover {
  background-color: #604e43;
  text-decoration: none;
  color:#ffffff;
}
.brown-btn:active {
  background-color: #503e33;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}
/* ФОРМА ГЛАВНОЙ*/
.map {
  background: #f2f1ef url(../img/map.png);
  position: relative;
  line-height: 0;
  min-height: 593px;
}
@keyframes opacity {
  0%   {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(-50%);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-45%);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(-55%);
  }
}
.main-form {
  display: none;
}
.main-form-show {
  animation: opacity 0.5s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #ffffff;
  width: 568px;
  margin: auto;
  padding: 55px;
  box-sizing: border-box;
  font-weight: bold;
  vertical-align: middle;
  box-shadow: 0 5px 15px 5px rgba(0,1,1,0.15);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.main-form-error {
  animation: shake 0.6s;
}
.main-form input {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
}
.half-width {
  font-size: 0;
  line-height: 0;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: right;
}
.half-width span {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
  margin-right: 27px;
}
.adult {
  text-align: left;
}
.adult span {
  margin-right: 40px;
}
.main-form .trip-date {
  width: 346px;
  height: 38px;
  padding-left: 12px;
  margin-left: 14px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  margin-bottom: 29px;
  box-sizing: border-box;
  cursor: pointer;
}
.main-form .trip-date:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}
.main-form .trip-date:focus {
  background-color: #ffffff;
}
.calendar {
  position: absolute;
  -webkit-transform: translate(331px, 8px);
          transform: translate(331px, 8px);
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
  background-position: -230px -5px;
}
.calendar:hover {
  width: 21px;
  height: 22px;
  background-position: -210px -69px;
}
.calendar:active {
  width: 21px;
  height: 22px;
  background-position: -210px -37px;
}
.main-form .quantity {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: none;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
  cursor: pointer;
}
.main-form .quantity:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}
.main-form .quantity:focus {
  background-color: #ffffff;
}
.main-form button[type="button"] {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: 0px;
  outline: none;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.main-form button[type="button"]::before {
  content: "";
  position: absolute;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.minus::before {
  width: 12px;
  height: 3px;
  background-position: -246px -173px;
}
.minus:hover::before {
  width: 12px;
  height: 3px;
  background-position: -290px -173px;
}
.minus:active::before {
  width: 12px;
  height: 3px;
  background-position: -268px -173px;
}
.plus::before {
  width: 11px;
  height: 11px;
  background-position: -312px -173px;
}
.plus:hover::before {
  width: 11px;
  height: 11px;
  background-position: -142px -194px;
}
.plus:active::before {
  width: 11px;
  height: 11px;
  background-position: -121px -194px;
}
input[type="submit"] {
  width: 458px;
  min-height: 58px;
  border: 0px;
  background-color: #81b3d2;
  text-transform: uppercase;
  color:#ffffff;
  font-weight: bold;
  font-size: 21px;
  margin-top: 55px;
}
input[type="submit"]:hover {
  background-color: #669ec0;
  text-decoration: none;
  color:#ffffff;
}
input[type="submit"]:active {
  background-color: #5496bd;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}
/*FOOTER*/
.footer-index {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  width: 1200px;
  -webkit-transform: translateY(-100%);
     -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
       -o-transform: translateY(-100%);
          transform: translateY(-100%);
}
.main-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-footer .footer-block {
  width: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;;
  -webkit-box-align: center;;
  -webkit-align-items: center;;
      -ms-flex-align: center;;
          align-items: center;
  padding: 36px;
}
.footer-hashtag a:link,
.footer-hashtag a:hover,
.footer-hashtag a:active,
.footer-hashtag a:visited {
  text-decoration: none;
  color: black;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}
.social-btn {
  width: 46px;
  height: 48px;
  text-align: center;
  vertical-align: middle;
  background-color: #81b3d2;
  margin-right: 4px;
  margin-left: 2px;
  font-size: 0;
  position: relative;
}
.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}
.social-btn:hover {
  background-color: #669ec0;
}
.social-btn:active {
  background-color: #5496bd;
}
.social-btn:active::before {
  opacity: 0.3;
}
.social-btn-fb::before {
  width: 10px;
  height: 21px;
  background-position: -241px -39px;
}
.social-btn-twitter::before {
  width: 17px;
  height: 15px;
  background-position: -163px -194px;
}
.social-btn-youtube::before {
  width: 20px;
  height: 16px;
  background-position: -246px -194px;
}
.academy-logo {
  display: block;
  width: 195px;
  height: 39px;
}
.academy-logo::before {
  content: "";
  position: absolute;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  width: 195px;
  height: 39px;
  background-position: -5px -32px;
}
.academy-logo:hover::before {
  content: "";
  position: absolute;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  width: 195px;
  height: 39px;
  background-position: -5px -130px;
}
.academy-logo:active::before {
  content: "";
  position: absolute;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  width: 195px;
  height: 39px;
  background-position: -5px -81px;
}
/* ФОРМА КАТАЛОГА */
.options {
  background: #6c99c2 url(../img/options-background.png) no-repeat 50% -55px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.options form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.options fieldset {
  border: none;
  padding: 6px 0px;
  padding-left: 70px;
}
.options fieldset:last-child {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding-left: 240px;
}
.options input[type="text"] {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.0);
  width: 32px;
  height: 32px;
  border: none;
  font-size: 14px;
  margin-left: 4px;
  margin-right: 28px;
}
.options .half-width:last-child {
  padding-right: 20px
}
.options .half-width {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-size: 14px;
  line-height: 21px;
}
.options .price-select {
  border: 2px solid #ffffff;
  border-radius: 3px;
  height: 32px;
  width: 314px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: -12px;
  right: -10px;
  font-size: 14px;
  outline: 1px solid red;
}
.price-select::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.options button {
  color: #ffffff;
  text-transform: uppercase;
  width: 137px;
  height: 36px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.0);
  margin-left: 95px;
  outline: none;
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
}
.options button:hover {
  color: #000000;
  background: #ffffff;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: block;
  padding-left: 38px;
  cursor: pointer;
  position : relative;
  font-size: 14px;
  line-height: 21px;
  margin:25px 0;
}
input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/spritesheet.png);
  width: 22px;
  height: 22px;
  background-position: -210px -101px;
  top: -1px;
  left: -1px;
}
input[type="checkbox"]:checked + label::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/spritesheet.png);
  width: 26px;
  height: 22px;
  background-position: -210px -133px;
  top: -1px;
  left: -1px;
}
input[type="checkbox"]:disabled + label::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/spritesheet.png);
  width: 22px;
  height: 22px;
  background-position: -5px -197px;
  top: -1px;
  left: -1px;
}
input[type="checkbox"]:checked:disabled + label::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/spritesheet.png);
  width: 26px;
  height: 22px;
  background-position: -210px -165px;
  top: -1px;
  left: -1px;
}
.options fieldset:nth-child(2) {
  padding-left: 116px;
}
.options fieldset:nth-child(3) {
  padding-left: 335px;
}
.options .half-width{
  font-size: inherit;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
  left: 11px;
}
.range-controls .scale {
  margin-top: 8px;
  height: 2px;
  width: 315px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  left: 100px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 63%;
}
/*ФИЛЬТРЫ*/
.filters {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.filters-sorting {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
}
.filters-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.filters-list li {
  padding-right: 34px;
  position: relative;
  top: -2px;
}
.filters-text {
  line-height: 0;
  margin-left: 72px;
  width: 135px;
  padding: 9px 0;
}
.filters-controls {
  margin-right: 72px;
}
.filters-controls ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.filters-controls li {
  margin-left: 14px;
}
.btn-up {
  display: block;
  background-image: url(../img/spritesheet.png);
  width: 11px;
  height: 10px;
  background-position: -104px -5px;
}
.btn-up:hover {
  width: 11px;
  height: 10px;
  background-position: -146px -5px;
}
.btn-up:active {
  width: 11px;
  height: 10px;
  background-position: -125px -5px;
}
.btn-down {
  display: block;
  background-image: url(../img/spritesheet.png);
  width: 11px;
  height: 10px;
  background-position: -188px -5px;
}
.filters-sorting a,
.filters-sorting a:visited {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}
.filters-sorting a:hover {
  color: #81b3d2;
}
.filters-sorting a:active {
  color: #000000;
  border: none;
}
.filters-sorting .active-link,
.filters-sorting .active-link:visited {
  color: #81b3d2;
  border: none;
}
.filters span {
  font-size: 12px;
  line-height: 18px;
  padding-right: 40px;
}
.filters div:nth-child(2) {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.filters {
  border-bottom: 1px solid #e5e5e5;
}
article {
  border-bottom: 1px solid #e5e5e5;
}
/* ОТЕЛИ */
.item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.item div:first-child {
  line-height: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 72px;
}
.item-description {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin-left: 30px;
  padding-bottom: 10px;
}
.hotel-name a,
.hotel-name a:visited {
  text-decoration: none;
  color: black;
  margin-left: -15px;
}
.hotel-name a:hover {
  color: #8bb9d5;
}
.hotel-name a:active {
  color: #000000;
  opacity: 0.3;
}
.hotel-name {
  text-align: left;
  margin-top: 25px;
  max-width: 700px;
}
.item-description a {
  text-decoration: none;
  font-weight: bold;
  padding: 5px 16px;
  padding-top: 4px;
  padding-right: 17px;
  color: #fff;
}
.item-description div {
  display: inline-block;
  vertical-align: top;
  width: 110px;
  margin-top: -8px;
  margin-right: 2px;
}
.item-description span {
  display: block;
  margin-bottom: 18px;
}
.details {
  background-color: #81b3d2;
}
.details:hover {
  color: #fff;
  background-color: #669ec0;
}
.details:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}
.book {
  background-color: #766357;
}
.book:hover {
  color: #fff;
  background-color: #604e43;
}
.book:active {
  color: #fff;
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}
.item-rating {
  margin-right: 73px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 120px;
}
.item-rating i {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  background-position: -5px -5px;
  margin-left: 7px;
  margin-top: 29px
}
.rating-text {
  display: block;
  width: 110px;
  height: 27px;
  box-sizing: border-box;
  padding: 3px 0;
  text-align: center;
  color: #666666;
  background: #f2f2f2;
  margin-top: 19px;
}
